@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --color-primary-orange: #F26419;
  --color-nutral-light: #fff;
  --color-nutral-dark: #222; }

/*
0 - 600px: Phone
600px - 950px: Tablet portrait
900px - 1200px: Tablet landscape
[1200px - 1800px]: Main design
1800px +: Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 400; }

.section {
  padding: 5rem; }

.nav {
  background-color: #F26419;
  padding: 2rem; }
  @media (max-width: 37.5em) {
    .nav {
      padding: 2rem 1rem; } }
  .nav__links {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: flex-end; }
    @media (max-width: 37.5em) {
      .nav__links {
        flex-wrap: wrap;
        justify-content: center; } }
  .nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    padding: .6rem 1.2rem;
    transition: all .2s; }
    .nav__link:hover {
      background-color: #fff;
      color: #222;
      border-radius: 2rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  min-height: 60vh;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .header__content {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding: 5rem; }
  .header__logo {
    height: 20rem;
    width: 60rem; }
  .header__links {
    display: flex;
    gap: 2rem; }
  .header__link {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #fff;
    background-color: #F26419;
    border-radius: 5px; }
  .header__img {
    display: block;
    height: 100%;
    position: absolute;
    right: 2rem;
    bottom: -2rem;
    transform: rotate(-5deg); }

.vision-mission {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem; }
  .vision-mission__item {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center; }
    .vision-mission__item--logo {
      width: 8rem; }
    .vision-mission__item--heading {
      font-size: 2.6rem;
      color: #F26419; }
    .vision-mission__item--paragraph {
      font-size: 1.5rem; }

.intro {
  text-align: center; }
  .intro__heading {
    color: #F26419;
    font-size: 3rem;
    font-weight: 300; }
    .intro__heading span {
      font-weight: 500;
      text-transform: uppercase; }
  .intro__paragraph {
    margin-top: 3rem;
    font-size: 1.5rem; }
