// SASS VARIABLES
$color-primary-orange: #F26419;

$color-nutral-light: #fff;
$color-nutral-dark: #222;

// CSS VARIABLES
:root {
    --color-primary-orange: #F26419;

    --color-nutral-light: #fff;
    --color-nutral-dark: #222;
}