.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    min-height: 90vh;
    width: 100%;
    position: relative;
    background-image: url("../img/Home/header/hero.jpg");
    background-position: center;
    background-size: cover;

    @include respond(tab-land) {
        justify-content: center;
    }

    @include respond(phone) {
        background-image: url("../img/Home/header/hero-mobile.jpg");     
        align-items: flex-start;   
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15rem;
        padding-left: 10rem;

        @include respond(tab-land) {
            gap: 10rem;
        }

        @include respond(tab-port) {
            padding-left: 5rem;
        }

        @include respond(phone) {
            gap: 5rem;
            align-items: center;
            padding: 2rem;
            margin-top: 2rem;
        }
    }

    &__logo {
        width: 50%;

        @include respond(tab-port) {
            width: 70%;
        }

        @include respond(phone) {
            width: 80%;
        }
    }

    &__links {
        display: flex;
        gap: 2rem;

        @include respond(phone) {
            justify-content: center;
            gap: 1rem;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem 3rem;
        color: $color-nutral-light;
        // background-color: $color-primary-orange;

        background-image: linear-gradient(#ffb032 0%, $color-primary-orange  21%);
        border-radius: 5px;
        text-align: center;

        @include respond(phone) {
            padding: 1rem 2rem;
            font-size: 1.3rem;
        }
    }
}