.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    min-height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    @include respond(tab-land) {
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15rem;
        padding: 5rem;
    }

    &__logo {
        height: 20rem;
        width: 50rem;
        background-color: $color-nutral-dark;
    }

    &__links {
        display: flex;
        gap: 2rem;

        @include respond(tab-land) {
            justify-content: center;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem 3rem;
        color: $color-nutral-light;
        background-color: $color-primary-orange;
        border-radius: 5px;
    }

    &__img {
        display: block;
        height: 100%;
        position: absolute;
        right: 2rem;
        bottom: -2rem;
        transform: rotate(-5deg);

        @include respond(tab-land) {
            display: none;
        }
    }
}