.section-vision-mission {

}

.vision-mission {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;

    &__item {
        max-width: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;

        &--logo {
            width: 8rem;
        }
    
        &--heading {
            font-size: 2.6rem;
            color: $color-primary-orange;
        }
    
        &--paragraph {
            font-size: 1.5rem;
        }
    }

}