.gallery-header {
    &__img {
        width: 100%;
        background-size: contain;
    }

    &__links {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-top: 3rem;
        flex-wrap: wrap;
        // margin-left: 10rem;
        // margin-top: -10rem;

        // @include respond(tab-land) {
        //     margin-left: 8rem;
        //     margin-top: -8rem;
        // }

        // @include respond(tab-port) {
        //     margin-left: 6rem;
        //     margin-top: -6rem;
        // }
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        color: $color-nutral-light;
        // background-color: $color-primary-orange;
        border-radius: 5px;
        background-image: linear-gradient(#ffb032 0%, $color-primary-orange  21%);
        padding: 1rem 3rem;
        transition: 0.5s;
        background-size: 200% auto;
        display: block;
        text-align: center;

        @include respond(phone) {
            padding: 1rem 2rem;
            font-size: 1.3rem;
        }
    }
}