*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-port) {
        font-size: 56.25%;
    }
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 400;
    color: $color-nutral-dark;

    &::-webkit-scrollbar {
        display: none;
    }
}

.section {
    padding: 5rem;

    @include respond(tab-port) {
        padding: 3rem;
    }
}