.section__testimonial {

}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    gap: 5rem;

    @include respond(tab-port) {
        max-width: none;
    }
    
    &__item {
        display: flex;
        gap: 2rem;
    }

    &__img {
        min-height: 15rem;
        min-width: 15rem;
        border: 2px solid $color-nutral-dark;
        outline: 3px solid $color-primary-orange;
        outline-offset: .3rem;
        border-radius: 50%;
    }

    &__text {
        padding: 2rem;
        max-width: 60rem;

        @include respond(tab-port) {
            padding: 0;
        }
    }

    &__name {
        font-size: 1.7rem;
    }

    &__message {
        margin-top: 1rem;
        @include defaultMediumParagraph;
    }
}