.section-faq {
    margin-top: 5rem
}

.faq {
    padding: 3rem 0;
    margin-top: 5rem;
}

.participate {
    text-align: center;

    &__heading {
        @include defaultBigHeading;
    }

    &__paragraph {
        @include defaultMediumParagraph;
    }
}

.conduct {
    margin-top: 3rem;
    text-align: center;

    &__heading {
        @include defaultBigHeading;
    }

    &__paragraph {
        @include defaultMediumParagraph;
        width: 100%;
    }
}