.competitions-header {
    background-color: #efefef;
    min-height: 90vh;
    background-image: url("../img/Competitions/header/hero.png");
    background-position: center;
    background-size: cover;
    position: relative;

    @include respond(tab-land) {
        background-position: left;
    }

    @include respond(phone) {
        background-position: center;
        background-image: url("../img/Competitions/header/hero-mobile.png");
    }

    &__content {
        
    }

    &__links {
        position: absolute;
        left: 10rem;
        bottom: 10rem;
        display: flex;
        gap: 2rem;

        @include respond(phone) {
            justify-content: center;
            gap: 1rem;
            left: 50%;
            bottom: 5rem;
            transform: translateX(-50%);
            width: 100%;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem 3rem;
        color: $color-nutral-light;
        background-color: $color-primary-orange;
        border-radius: 5px;

        @include respond(phone) {
            padding: 1rem 2rem;
        }
    }
}