.competitions-header {

    &__img {
        width: 100%;
        object-fit: contain;
    }

    &__links {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-top: 3rem;
        flex-wrap: wrap;
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        // padding: 1rem 3rem;
        color: $color-nutral-light;
        // background-color: #0161af;
        border-radius: 5px;
        background-image: linear-gradient(#7e81ff 0%, #0161af  51%);
        padding: 1rem 3rem;
        transition: 0.5s;
        background-size: 200% auto;
        box-shadow: 0 0 20px #eee;
        display: block;
         

        @include respond(phone) {
            padding: 1rem 2rem;
        }
    }
}